body{padding: 0;
    margin: 0;

}
#pizza{
    width: 40%;
    display: inline-block; 
    text-align:-webkit-center;
    margin-left: 20px;
}
#student{
    width: 45%;
    float: right;
    text-align:center;
    margin-right: 60px;
}
#student2{
    width: 45%;
    float: right;
    text-align: -webkit-center;
    margin-right: 60px;
}
#reset,.marks{
    float: right;
}
p{
    font-weight: bold;
}
#clear{
    clear: both;
}
header{
    background-color: lightblue;
}
footer{
    text-align: center;
    background-color: cyan
}
section
{background-color:gainsboro;
}
table{
    background-color:white;
}
fieldset{
    background-color:white;
}
